---
import "../styles/main.scss";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ArticlePostArea from "../components/ArticlePostArea.astro";
import { ToolNav } from "../components/ui/ToolNav";
import Footer from "../components/Footer.astro";
import Mv from "../components/Mv.astro";
const path = Astro.url.pathname;

---

<Layout
  title="liliya.dev"
  ogTitle="liliya.dev"
  desc="主に個人的な知識のアウトプットの場として運営している個人サイトです。"
>
  <Header />
  <main data-pagefind-ignore="all">
    <Mv />
    <ArticlePostArea />
  </main>
  <ToolNav client:only="react" path={path} />
  <Footer />
</Layout>

<style></style>
