---
import dayjs from 'dayjs';
import { getBlogs } from '../lib/microcms';
import SectionTitle from './ui/SectionTitle.astro';
import ViewMore from './ui/ViewMore.astro';

const blogs = await getBlogs({
  fields: ['title', 'id', 'content', 'eyecatch', 'description', 'publishedAt', 'category'],
  limit: 3,
});
const posts = blogs.contents;
---

<div class="article-posts">
  <SectionTitle title="articles" />
  <ul class="article-posts__list" data-pagefind-body>
    {
      posts.map((post) => {
        return (
          <li class="article-posts__item">
            <a href={'/articles/' + `${post.id}`}>
              <img
                src={post.eyecatch.url}
                alt="記事のサムネイル"
                class="article-posts__thm"
                width="284"
                height="160"
              />
              <p class="article-posts__category" data-pagefind-index-attrs>
                {post.category.category}
              </p>
              <p class="article-posts__title" data-pagefind-index-attrs>
                {post.title}
              </p>
              <p class="article-posts__published">{dayjs(post.publishedAt).format('YYYY/MM/DD')}</p>
            </a>
          </li>
        );
      })
    }
  </ul>
  <ViewMore />
</div>

<style lang="scss">
  @use '../styles/_variables.scss' as v;
  .article-posts {
    @include v.article-list();
  }

  :root[class='dark-mode'] {
    .article-posts {
      &__item {
        border: solid 1px v.$dark-mode-border;
        border-radius: 1em;
        color: v.$dark-mode-text;
      }

      &__category {
        font-size: 1.4rem;
        max-height: 20px;
        line-height: 18px;
        color: v.$dark-mode-text;
        width: fit-content;
        padding: 0 10px;
        border-radius: 2px;
        margin: 1em 0 0 0;
      }
    }
  }
</style>
