---
const { list } = Astro.props;
---

<nav class="breadcrumb">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a href="/" class="breadcrumb_link">top</a>
    </li>
    {
      list.map((item: string, index: number) => {
        const path = index === 0 ? '/articles/page/1' : '/';
        return (
          <li class="breadcrumb__item">
            <a href={path} class="breadcrumb_link">
              {item}
            </a>
          </li>
        );
      })
    }
  </ol>

  <style lang="scss">
    @use '../../styles/_variables.scss' as v;
    .breadcrumb {
      margin-bottom: 3em;
      &__list {
        display: flex;
        flex-wrap: wrap;
      }
      &__item {
        position: relative;
        font-size: min(3vw, 1.4rem);
        &:nth-child(2) {
          margin: 0 2em;
          &::before {
            content: '<';
            position: absolute;
            left: -1.6em;
            @include v.mq(w428) {
              left: -1.5em;
            }
          }
        }
        &:nth-child(3) {
          &::before {
            content: '<';
            position: absolute;
            left: -1.3em;
          }
        }
      }
    }
  </style>
</nav>
